table.dataTable{
    font-size: 10pt;
}

#table_incidencias thead th {
    background: #000;
    color: #ff6600;
    font-size: 10pt;
    padding:3px 0;
    text-align: center;
}

table.dataTable thead .sorting_asc:after, .sorting_desc:after, .sorting:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
    display: none;
}

#table_incidencias td{
    padding:0;
    vertical-align: middle;
    text-align: center;
}