html,body,#nav-bar,h1,h2,h3,h4,h5,#page-wrapper{
    font-family: HelveticaNeueLight,HelveticaNeueLight2,Arial;
}
body{
    background: url('/orange/assets/images/bg.png');
}

.right{
    float:right;
}

nav div.sidebar{ display: none; }
#page-wrapper div.row{ display: none; }

/*
ESTILOS DEL navbar
*/
nav.navbar {
    box-shadow: 10px 4px 10px;
}

nav.a, nav.a:hover, nav.a:focus, nav.a:active{
    color: #FF6600;
}

nav.navbar.navbar-default.navbar-static-top, .navbar-default.sidebar, div#wrapper {
    background: url('/orange/assets/images/bg.png');
}
.navbar-default {
    background-color: #f8f8f8;
    border: 0px;
}
/*
ESTILOS DEL sidebar
*/
.sidebar ul li {
    border-bottom: 0px solid #e7e7e7;
}
.sidebar ul li a.active{
    background-color: #FF6600 !important;
    color: #fff;
    box-shadow: -7px 0px 29px #000;
}
.sidebar ul li a:focus {
    background-color: #000 !important;
    color: #FF6600;
}
.sidebar ul li a:hover {
    background-color: #000 !important;
    color: #fff;
    box-shadow: -7px 0px 29px #000;
}

/*
Estilos de los paneles
*/
.panel{
    border:0px;
}
.panel-default{
    box-shadow: 1px 1px 10px #222;
    boder: 1px solid #333;
}
.panel-alert-orange{
    box-shadow: 0px 0px 10px #f60
}

.panel-heading {
    font-size: 13pt;
    color: #ff6600 !important;
    background-color: #333 !important;
    text-align: center;
    background: -webkit-linear-gradient(#555, #000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#555, #000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#555, #000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#555, #000); /* Standard syntax (must be last) */
}

#dropdownInfoTienda{
    background: url('/orange/assets/images/bg.png');
    border: 0px;
    color: #f60;
    min-height:50px;
}
#dropdownInfoTienda:focus{
    border: 0px;
}

/*
Estilos de botones
*/
a[classBtn="status"]{
    width:165px;
}
a[classBtn="status_1/2"]{
    width:80px;
}

.btnTable{
    padding: 0px 5px;
    margin: 0px 5px;
}

/*
Estilos de los datos de la tienda
*/

.data_tienda{
    font-size:12pt;
}

/*
Estilos de las dataTables
*/
.table-responsive{
    font-size:10pt;
}
.pagination{
    font-size:10pt;
}
.paging_simple_numbers {
    float: right;
}


.table tr:hover td{ background:#e9e9e9; }


h1.page-header{ position: relative;}
    h1.page-header a{ font-size: 12px; color:#0088cc; text-decoration:underline; position: absolute; top: 15px; right:20px;  }
    h1.page-header a:hover{ text-decoration: none;}
/*
ESTILO DEL TIMELINE
*/
.timeline > li > .timeline-panel{
    width: 40%;
}

.state_pasado{
    background: #999;
    color: #fff;
    opacity: 0.6;
}

.state_actual{
    background: #ff6600;
    color: #000;
}

.timeline-panel {
    padding: 10px 20px;
    top: 15px;
    text-align: center;
}

.sombreado{
    opacity: 0.6;
}

.timeline > li > .timeline-panel.state_pasado:after, .timeline > li > .timeline-panel.state_pasado:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 6px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #999;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #999;
}
.timeline > li > .timeline-panel.state_actual:after, .timeline > li > .timeline-panel.state_actual:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 6px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #ff6600;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #ff6600;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 6px;
    right: -14px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 6px;
    right: -13px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline > li > .timeline-badge{
    background-color: #000;
}


/**
**  FILTRO DASHBOARD
**/
.filtro,
.buscador{ margin-bottom: 20px; }
.filtro label,
.buscador label{ width:100%; font-size: 12px; text-align: left; }
.filtro input[type=submit],
.buscador input[type=submit]{ margin: 22px 0 0 0;}

a.reiniciar_busqueda{ color:#000; font-size: 12px; margin: 30px 0 0 0; display: inline-block; }