html,body,#nav-bar,h1,h2,h3,h4,h5,#page-wrapper{
    font-family: HelveticaNeueLight,HelveticaNeueLight2,Arial;
}
body{
    background: url('/orange/assets/images/bg.png');
}

.right{
    float:right;
}
/*
ESTILOS DEL navbar
*/
nav.navbar {
    box-shadow: 10px 4px 10px;
}

nav.a, nav.a:hover, nav.a:focus, nav.a:active{
    color: #FF6600;
}

nav.navbar.navbar-default.navbar-static-top, .navbar-default.sidebar, div#wrapper {
    background: url('/orange/assets/images/bg.png');
}
.navbar-default {
    background-color: #f8f8f8;
    border: 0px;
}
/*
ESTILOS DEL sidebar
*/
.sidebar ul li {
    border-bottom: 0px solid #e7e7e7;
}
.sidebar ul li a.active{
    background-color: #FF6600 !important;
    color: #fff;
    box-shadow: -7px 0px 29px #000;
}
.sidebar ul li a:focus {
    background-color: #000 !important;
    color: #FF6600;
}
.sidebar ul li a:hover {
    background-color: #000 !important;
    color: #fff;
    box-shadow: -7px 0px 29px #000;
}

/*
Estilos de los paneles
*/
.panel{
    border:0px;
}
.panel-default{
    box-shadow: 1px 1px 10px #222;
    boder: 1px solid #333;
}
.panel-alert-orange{
    box-shadow: 0px 0px 10px #f60
}

.panel-heading {
    font-size: 13pt;
    color: #ff6600 !important;
    background-color: #333 !important;
    text-align: center;
    background: -webkit-linear-gradient(#555, #000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#555, #000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#555, #000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#555, #000); /* Standard syntax (must be last) */
}

#dropdownInfoTienda{
    background: url('/orange/assets/images/bg.png');
    border: 0px;
    color: #f60;
    min-height:50px;
}
#dropdownInfoTienda:focus{
    border: 0px;
}

/*
Estilos de botones
*/
a[classBtn="status"]{
    width:165px;
}
a[classBtn="status_1/2"]{
    width:80px;
}

.btnTable{
    padding: 0px 5px;
    margin: 0px 5px;
}

/*
Estilos de los datos de la tienda
*/

.data_tienda{
    font-size:12pt;
}

/*
Estilos de las dataTables
*/
.table-responsive{
    font-size:10pt;
}
.pagination{
    font-size:10pt;
}
.paging_simple_numbers {
    float: right;
}