/*
Estilos del formulario superior
*/
.form-sfid{
    margin-bottom:20px;
}

/*
Estilos de los paneles
*/
.panel-heading {
    font-size: 13pt;
    color: #fff !important;
    background-color: #FF6600 !important;
    text-align: center;
}

/*
Estilos de las tabla
*/
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    font-size: 10pt;
}

.table>tbody>tr>td {
    font-size: 10pt;
}

