/*
Estilos del formulario superior
*/
.form-sfid{
    margin-bottom:20px;
}
/*
Estilos de las tabla
*/
.table-responsive {
    font-size: 10pt;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    font-size: 10pt;
    color: #000;
}

.table>tbody>tr>td {
    font-size: 10pt;
}

.modal-dialog {
    width: 80%;
}

.chat_nuevo{
    color:#fff;
    background:#f60;
    width:100%;
    padding:10px 0 10px 0;
    border-radius:5px;
}

.chat_leido{
    color:#aaa;
}


/**
**  FILTRO DASHBOARD
**/

h1.page-header{ position: relative;}
h1.page-header a{ font-size: 12px; color:#0088cc; text-decoration:underline; position: absolute; top: 0; right:0;  }
h1.page-header a:hover{ text-decoration: none;}

div.pagination{padding: 0; margin:0 0 0 0;  }
div.pagination ul.pagination{ margin: 0 0 0 0;}
div.pagination p{ width: 100%; margin:0; padding:15px 0 15px 0;}

.filtro,
.buscador{ margin-bottom: 20px; }
.filtro label,
.buscador label{ width:100%; font-size: 12px; text-align: left; }
.filtro input[type=submit],
.buscador input[type=submit]{ margin: 28px 0 0 0;}
.filtro div.clearfix{ margin-bottom: 15px; }

.filtro form{ border:1px solid #dedcdc; float: left;  margin:0 0 40px 0; padding: 15px 0 20px 0; border-radius:2px; background: #f2f2f2; box-shadow:0 0 7px #ccc; }

form.filtros select.focused,
form.filtros input.focused
{
    font-weight:bold;
    color:#333;
    background:#fee3d1;
}
a.reiniciar_busqueda{ color:#000; font-size: 12px; margin: 35px 0 0 0; display: inline-block;
    }




.table-sorting th:before,
.table-sorting th:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top:-8px;
}
.table-sorting th.principal{ width:500px; text-align: left; }
.table>thead>tr>th{vertical-align: middle}
.table>tbody>tr>td{ background-color: #fff; vertical-align: middle; height: 53px;}
.table>tbody>tr>td.principal{ text-align: left; font-weight: 600;}

table thead th.sorting{ position:relative; padding-right: 25px; vertical-align: middle;
    cursor: pointer;
}
table thead th.sorting:hover{ background-color: #e15f09;}

table thead th.sorting:after { content: "\f0dc"; float: right; font-family: fontawesome; color: rgba(50,50,50,.5); }
table thead th.sorting_desc:after { content: "\f0dd"; float: right; font-family: fontawesome; color:#000; }
table thead th.sorting_asc:after { content: "\f0de";  float: right; font-family: fontawesome; color:#000; }

a.scrollTo,
h1.page-header a{ padding:8px 10px 8px 10px; background-color: #e9e9e9; text-decoration: none; color:#999; right: 0; border-radius:3px;}

.fa-eye{ cursor: pointer; padding:3px;}
.fa-eye:hover{ background-color: #d9d9d9;}






form.form-mini label{ width: 100%; display: block; clear: both;}
form.form-mini .form-group{ margin-bottom:20px; }
#page-wrapper form.form-mini input[type="submit"]{ margin-top:10px;
    float: left;  }


#page-wrapper form.form-mini,
.form-mini .form-control{ font-size:12px; }
#page-wrapper .form-group #submit_button{ margin-top:22px;
    float: left; height: 30px;
    background:#f60;
    color:#fff; font-weight:bold; font-size: 12px;
    border:none; }

.form-mini a.reiniciar_busqueda{ margin-top:20px ;}
@media (min-width: 768px) {

}

/**
**  MULTIFILTRO
**/
#page-wrapper .form-group{ vertical-align: top; margin-right: 15px;}
#page-wrapper .form-group input[type="submit"]{
    width:auto;}
div.multifiltro{ background-color: #f1f1f1; padding:10px 5px 5px 5px; min-height: 0px;
    height: auto;
    display: none;}

div.multifiltro div.linea{ padding: 0 0 0 0;  }

#page-wrapper  form label.auto{
    display: inline-block; width: auto; font-weight: normal;
    max-resolution: 0;
    padding: 0;
}

#deshabilitador{ position:absolute; top: 0; left: 0; width: 100%; height: 100%;
    display: none; z-index:100000;
    background:url("../../images/preloader.gif") center bottom no-repeat transparent; padding-bottom: 30px}

.disabled{ opacity:.70}
/**
**  ESTADO INCIDENCIAS
**/
.table-borde-lineal>tbody>tr>td {
    border-bottom: 1px solid #ddd;
}
.table-borde-lineal>tbody>tr>th{ font-size:13px; text-align: right; vertical-align: middle; width: 16%;}
.table-borde-lineal>tbody>tr>td.total{ font-weight: bold; border-left:1px solid #ddd;}
.table-borde-lineal>tbody>tr.separador>td{ font-size: 1px; height: 2px;
    padding: 0; background:#f60;} .table-borde-lineal>tbody>tr.separador:hover>td:hover{background:#f60;}

span.fecha_status{ display:inline-block; margin-left:10px; font-size: 12px; font-style: italic;}
.table-estado-incidencias>tbody>tr>th{ background: #e9e9e9; }


table.table>tbody>tr>td.notice{ background:#f5d609; font-weight: bold; }
table.table>tbody>tr>td.notice-hover{ background:#d2b80a;  }

table.table>tbody>tr>td.warning{ background:#eb0202; color:#fff; font-weight: bold;}
table.table>tbody>tr>td.warning-hover,
table.table>tbody>tr>td.warning:hover,
table.table>tbody>tr:hover>td.warning{ background:#c80505; }


/**
** AVISO MENSAJES CHAT
**/

a.mensajes_nuevos,
h1.page-header a.mensajes_nuevos{ position: absolute; top: -10px; font-size:14px; background:#ffa970; padding:6px 10px 6px 10px;
    color:#973f04; border-radius: 3px; text-decoration: none; }

a.mensajes_nuevosC,
h1.page-header a.mensajes_nuevosC{ position: absolute; top: 20px; right:0; font-size:14px; background:#ffa970; padding:6px 10px 6px 10px;
    color:#973f04; border-radius: 3px; text-decoration: none; }


@-webkit-keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }
@keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }

.blink {
    text-decoration:blink;
    -webkit-animation-name:blinker;
    animation-name:blinker;
    -webkit-animation-iteration-count:3;
    animation-iteration-count:3;
    -webkit-animation-timing-function:cubic-bezier(1.0,0,0,1.0);
    animation-timing-function:cubic-bezier(1.0,0,0,1.0);
    -webkit-animation-duration:0.5s;
    animation-duration:0.5s;
}

/**
*   CUADRO INFORMACION GENERAL INCIDENCIA
**/

#info_incidencia{ font-size: 14px; }
#info_incidencia h3{ font-size:16px; font-weight: bold; color:#f60; border-bottom:1px solid #f60; }
#info_incidencia  th,
#info_incidencia  td{ vertical-align: top; padding-bottom: 3px; }
    #info_incidencia a.update{ font-size: 12px; font-weight: bold; color:#fff;  background: #0088cc;
        padding: 5px 10px; border-radius: 3px; margin-top:10px; }
    #info_incidencia a.update:hover,
    #info_incidencia a.update:active,
    #info_incidencia a.update:focus{ text-decoration: none;}

#info_incidencia span.result{margin-left:10px;     background:#d3ebd3; color:#1f6e1f;
    padding: 5px 10px; border-radius: 3px;  font-size: 12px;
    display: none; }

#info_incidencia div.table-responsive th{ background:#f60;  padding: 4px 5px; color: #fff; font-size: 12px;}
#info_incidencia div.table-responsive td{
    padding: 2px 5px; vertical-align: middle; font-size: 12px;}

#info_incidencia form select{ line-height: normal; padding: 3px 0px 3px 3px; margin-bottom: 5px;}


/**
**  STOCK CONTROL AL AGREGAR MATERIAL A INCIDENCIA 
**/
input.error{
    background:#ff0000; color:#fff; border-style: solid;
}

/**
** MANTENIMIENTO
**/
div.mantenimiento{
    text-align: center;}
div.mantenimiento h2{ font-size:22px; margin:0 0 15px 0; padding: 0; text-align: center;
    color:#f60; font-weight: bold;}

div.mantenimiento p.desc{ margin-bottom: 10px; font-size: 14px; text-align:center;}


/**
**   BACKUP
**/
#print-wrapper{
    width:100%;
    height: auto;
    background:#fff;
    padding: 40px;
}
#print-wrapper table.backup{
    width:100%;
    border:1px solid #000;
    border-collapse: collapse;
    font-size: 11px;
}
#print-wrapper table.backup th{ padding:5px; vertical-align: top; font-size: 12px;
    background: #f60;}
#print-wrapper table.backup td{ padding:5px; vertical-align: top;}
#print-wrapper table.backup td.devices{ padding:0; }
#print-wrapper table.backup td.sep{ border-left:none; border-right: none; font-size:1px; height:3px; }
#print-wrapper table.backup .num{ width:auto;
    text-align:center;}

#print-wrapper table.backup table{
    border:none;}

#print-wrapper-wrapper table.backup .pos,
#print-wrapper table.backup .name{ font-weight: bold;}



#page-wrapper form textarea.error,
#page-wrapper form input.error,
#page-wrapper form select.error{ border:1px solid #a00;}


span.error{ color:#a00; font-size: 14px;}
span.exito{ color:#0a0; font-size: 14px;}


/**
**      TIENDAS TIPOLOGIA
**/

.tiendas-tipo .table-bordered,
.tiendas-tipo .table-bordered th,
.tiendas-tipo .table-bordered td{ border:none; vertical-align: middle;  border-bottom:1px solid #f1f1f1; border-collapse: collapse}

.tiendas-tipo .table-bordered tr:last-child th,
.tiendas-tipo .table-bordered tr:last-child td{  border-bottom:2px solid #f60 }

.tiendas-tipo hr{ margin-bottom: 30px;}

.tiendas-tipo h3{ font-weight: bold; color:#f60; text-align: right; margin-bottom: 20px; }
.tiendas-tipo h3 span{ font-weight: normal; color:#000;}

.tiendas-tipo table.table-bordered{ margin-bottom: 60px; border-top:1px solid #f60 }
.tiendas-tipo table th{ background:#f60;  padding: 5px; text-align: right; border: none; }

.tiendas-tipo table th.principal{ width:35%;
    background:#fcebe0; border:none;  border-bottom:1px solid #f60;  }

.tiendas-tipo table th.primera-linea{ background:#fcebe0; border:none;  border-bottom:1px solid #f60;  }

.tiendas-tipo table th.tipo{ text-align: center;}
.tiendas-tipo table th.text{ text-align: right; }
.tiendas-tipo table th.total{ text-align: right;
    background: #fff; }
.tiendas-tipo table th.display{ background: #fff; text-align: right; font-weight: normal;}
.tiendas-tipo table td{ }
.tiendas-tipo table .num{ text-align:center; font-weight: normal; background:#fff;}



/* TIENDAS FABRICANTE */


.tiendas-fab table th{ text-align: left; }
.tiendas-fab table.table-bordered td{ text-align:left; }
.tiendas-fab table th.total,
.tiendas-fab table td.total{font-size:18px; }
.tiendas-fab table tr.separador th.total,
.tiendas-fab table tr.separador td.total{ padding-top:20px; 
       padding-bottom:20px; border-bottom:2px solid #f60; border-top:1px solid #f60; background:#fcebe0; text-align:right;}

.tiendas-fab table td a{ color:#0088cc; text-decoration:none; font-weight:bold; font-size:15px; }
.tiendas-fab table td a:after{
    content:"Pulsa en el mueble para abrir planograma";
    font-size:11px;
    position:absolute;
    margin-top:2px;
    margin-left:10px;
    color:#ccc;
    font-weight:normal;
    right:0;
}
.tiendas-fab table td a.selected{ color:#f60;}
.tiendas-fab table td a.selected:after{
    content:"Pulsa de nuevo para cerrar";    
}
.tiendas-fab table td.segmento{  font-size:18px; width:150px;}

.tiendas-fab table td.tipologia{ border-left:1px solid #f60; font-size:18px; width:300px;}

.tiendas-fab table th.pdvs,
.tiendas-fab table td.pdvs{text-align:right; width:200px}

.tiendas-fab table.table>tbody>tr.separador-tipo>th,
.tiendas-fab table.table>tbody>tr.separador-tipo>td{ padding:0; border:none; line-height:1px; font-size:1px; height:2px; max-height:2px; 
                                                     background:none; }
.tiendas-fab table.table>tbody>tr.separador-tipo>th{ border-bottom:1px solid #f60;}



.tiendas-fab  td.planograma{ position:relative }
.tiendas-fab  div.planograma{ width:460px; height:auto; background:#fcebe0; padding:20px; border-radius:6px; position:absolute; top:100%; left:0;
border:1px solid #f60; display:none; z-index:5000; box-shadow: 0 0 10px #666;}
.tiendas-fab div.img-mueble{ width:100px; height: auto; float:left; clear:none; margin-right:20px;}
.tiendas-fab div.devices{ float:left; clear:none; width:290px; height:100%; font-size:14px; line-height: 23px; padding-top:0; }

