a, a:hover, a:focus, a:active{
    color:#f60; !important;
}
.textoColumna{
    text-align: center;
}

a.list-group-item:hover, a.list-group-item:focus{
    background:#f60;
    color: #fff;
}

.caption {
    padding: 0;
    width: 100%;
    position: relative;
}
.caption img {
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
    border: 0;
    padding-top:0px;
}

.caption img a {
    font-size: 8px;
}

#modal_alert>.modal-dialog {
    margin-top: 10%;
    width: 60%;
    text-align: center;
}