a, a:hover, a:focus, a:active{
    color:#f60; !important;
}
.textoColumna{
    text-align: center;
}

a.list-group-item:hover, a.list-group-item:focus{
    background:#f60;
    color: #fff;
}

.caption {
    padding: 0;
    width: 100%;
    position: relative;
}
.caption img {
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
    border: 0;
    padding-top:25px;
}

.caption img a {
    font-size: 8px;
}
.caption::before {
    content: attr(title);
    position: absolute;
    background: #000; /* Color de fondo */
    color: #F60; /* Color del texto */
    font-size: 15px; /* Tamaño del texto */
    padding: 5px;
    right: 0;
    height:35px;
    top: -10px;
    left: 0;
    text-align: center;
    z-index: 1;
}