.labelText {
    padding: 10px 0;
    padding-left: 15px;
}
.labelBtn{
    padding:5.6px 0;
}

.grey {
    background-color: #f3f3f3;
}

.white{
    background-color: #fff;
}
.red{
    color: #ff0700;
}


.incidenciaEstado{
    padding:0 15px;
}

.modal-dialog {
    width: 80%;
}